[user]
	name = Nick von Bulow
	email = nick@nvonbulow.com
	signingkey = nvonbulow
[commit]
	gpgsign = false
[core]
	editor = vim
[color]
	ui = auto
[credential]
	helper = store
[diff]
  tool = bc3
[merge]
  tool=bc3

